*{
  margin:0;
  padding: 0;
}
.footer{
  align-content: flex-end;
}
.welcome{
  background-image: url(img/img12.jpg);
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-end;
}
.text-welcome{
  background-color: rgba(255, 255, 255, 0.952);
  color: black;
  width: 50%;
  height: 12%;
  font-size: 1.2rem;
  flex-wrap: wrap;
  letter-spacing: 1%;
  font-family: 'Handlee', cursive;
  padding: 1%;
  text-align: center;
}
.btn-welcome{
  background: linear-gradient(to right, rgb(20, 126, 197), rgb(109, 189, 91));
  width: 150px;
  height: 50px;
  margin-top: 1rem;
  margin-bottom: 4rem;
  cursor: pointer;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-weight: bold;
  outline: none;
}
.hide{
  display: none;
}

/* Barra Menu*/
.header{
  background: linear-gradient(to right, rgb(20, 126, 197), rgb(109, 189, 91));  
}
nav{
  display: flex;
  justify-content: space-around; 
}
nav > a{
  text-decoration: none;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  font-size: 20px;
  margin: 10px;
}
/* otros estilos*/
.principal{
  display: flex;
}

/* Barra menu lateral*/
aside{
  background: white;
  margin-left: -280px;
  transition: all 500ms linear;
  width: 280px;
  height: 620px;
  display: block;
  text-align: center;
  padding-top: 50px;
  box-shadow: 3px 12px 15px 0 rgba(0, 0, 0, 0.18);
}
aside.active{
  margin-left: 0px;
}
select, .search-evolution{
  border-radius: 10px;
  width: 150px;
  margin-bottom: 15px;
  margin-top: 15px;
  height: 30px;
  border: 2px solid #636e72;
  outline: none;
}
.top-10, .btn-calculate{
  background: #222324;
  width: 150px;
  height: 50px;
  margin-bottom: 15px;
  margin-top: 15px;
  cursor: pointer;
  align-items: center;
  border-radius: 10px;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: white;
  outline: none;
}
.top-10:hover, .toggle-btn:hover, .btn-welcome:hover{
  background: rgb(109, 189, 91);
}
/* icono de hamburguesa y barra de busqueda*/
.toggle-btn{
  cursor: pointer;
  width: 30px;
  background:  #3d3e3f;
  margin-top: 10%;
  margin-left: 10%;
}
.toggle-btn span{
  font-size: 25px;
  color: white;
}
.search{
  margin-top: 10%;
  margin-left: 17%;
}
.search-box{
  border-radius: 10px;
  width: 250px;
  height: 30px;
  border: 2px solid #636e72;
  outline: none;
}

/* Cards pokemon*/
.all-pokemones{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
  align-items: center;
  position: absolute;
}
.card{
  border-radius: 20px;
  background: rgba(150, 145, 145, 0.267);
  margin: 2%;
  width: 25vh;
  cursor: pointer;
  text-align: center;
  padding: 1%;
}
.letter1{
  font-size: 20px;
}
.letter2{
  font-size: 13px;
}

/* Cards modal pokemon*/
.card-modal{
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0;
  top: 0;
  z-index: 1;
  background: rgba(47, 49, 47, 0.719);
}
.information{
  background: white;
  width: 40%;
  display: flex;
  flex-flow: column;
  align-items: center;
  padding-bottom: 2%;
}
.information2{
  display: flex;
  flex-flow: wrap;
  justify-content: space-around;
}
.close{
  color: black;
  font-size: 30px;
  cursor: pointer;
  align-self: flex-end;
}
.extrainfo2{
  margin-left: 1%;
  margin-bottom: 10%;
}
/* Seccion evolucion y caramelos*/
.aditional{
  display: flex;
  flex-flow: wrap;
  justify-content: center;
}
.evolution-section{
  background: white;
  width: 350px;
  height: 620px;
  text-align: center;
  padding-top: 20px;
  box-shadow: 3px 12px 15px 0 rgba(0, 0, 0, 0.18);
}
.evolution-card{
  text-align: center;
  width: 350px;
  height: 350px;
  padding-top: 20px;
}
@media all and (max-width: 700px) {
  .text-welcome{
    width: 50%;
    height: 40%;
    font-size: 1.1rem;
    letter-spacing: 1%;
    font-family: 'Handlee', cursive;
  }
  .btn-welcome{
    margin-top: 1rem;
    margin-bottom: 6rem;
  }
}